<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Techies Blog</title>
</head>

{{!-- Create a flex body --}}
<body class="flex-column">
    {{!-- create navigation bar at top --}}
    <nav class="navbar">
        <ul>
            <li class="li-inline nav-item"><a href="/">Home</a></li>
            <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
            <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    {{!-- Create Header --}}
    <header class="jumbotron">
        <hi class="title"><a href="/dashboard">Your Personal Dashboard</a></hi>
    </header>

    <main class="col-auto">
        {{{body}}}
    </main>
</body>
{{!-- Add footer --}}
    <footer class="flex-row justify-center">
        <a href="/dashboard/new">Add A New Post</a>
        &copy; Created With Love, LAB
    </footer>
<script src="/js/logout.js"></script>
</html>