<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Techies Blog</title>
</head>

{{!-- Create a flex body --}}
<body class="flex-column">
    {{!-- create navigation bar at top --}}
    <nav class="navbar">
        <ul>
            <li class="li-inline nav-item"><a href="/">Home</a></li>
            <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
            <li class="li-inline nav-item"><a href="/login">Login</a></li>
            <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    {{!-- Create Header --}}
    <header class="jumbotron">
        <hi class="title"><a href="/">A Techies Blog</a></hi>
    </header>

    {{!-- Assign where handlebars will publish --}}
    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>

    {{!-- Add footer --}}
    <footer class="flex-row justify-center">
        &copy; Created With Love, LAB
    </footer>
</body>
</html>