{{!-- Create an HTML card for handlebars to edit a post --}}
<div class="post card">
    <div class="card-header">
        <h2>Edit Your Post</h2>
    </div>
    {{!-- edit title --}}
    <form id="editPost-form" class="card-body">
        <div class="form-group">
            input type="hidden" name="post-id" value="{{post.id}}" />
            <label for="post-title">Title</label>
            <input name="post-title" class="form-input" value="{{post.title}}" type="text" />
        </div>
        <div>
        <label class="form-label" for="post-body">Content</label>
        <textarea name="post-body" class="form-input">{{post.comment}}</textarea>
        </div>
         <div class="form-group">
            <button class="btn btn-primary" type="submit">Update</button>
             <button class="btn btn-primary" id="deleteBtn" type="delete">Delete</button>
        </div>
    </form>
</div>

<script src="/js/edit.js"></script>