{{!-- Create an HTML card for handlebars to login --}}
<section class="login-page">
    <div class="form-heading">
    <h1>Log In</h1>
    </div>
    <form id="login-form" class="card-body">
        <div>
            <label for="username-login">Username:</label>
            <input class="form-input" id="username-login" type="text" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input class="form-input" id="password-login" type="text" />
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Login</button>
            <a type="button" href="/signup">Sign Up HERE!</a>
        </div>
    </form>
    </div>
</section>
<script src="/js/login.js"></script>