{{!-- Create an HTML card for handlebars to make a new post --}}
<div class="post card">
    <div class="card-header">
        <h2>Creat A New Post</h2>
    </div>
    <form id="newPost-form" class="card-body">
        <div class="form-group">
            <label for="post-title">Title</label>
            <input class="form-input" name="post-title" type="text" />
        </div>
        <div class="form-group">
            <label for="post-body">Description</label>
            <textarea class="form-input" name="post-body" type="text"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
</div>
{{!-- <div>
    {{#each posts as |post| }}
    <h3>{{post.title}}</h3>
    {{/each}}
</div> --}}

<script src="/js/new.js"></script>