{{!-- <a href="/dashboard" class="go-back"> &larr; Back to dashboard</a> --}}

{{!-- Create an HTML card for handlebars to make a new post --}}

<div class="card-header">
    <h2>Creat A New Post</h2>
</div>
<div class="form-section">
    <form id="newPost-form" class="card-body">
        <label class="form-label" for="post-title">Title</label>
        <input class="form-input" name="post-title" type="text" />

        <label class="form-label" for="post-body">Description</label>
        <textarea class="form-input" name="post-body"></textarea>

        <button class="btn btn-primary" type="submit">Create</button>

    </form>
</div>

{{!-- <script src="/js/newPost.js"></script> --}}